
@font-face {
    font-family: GaudyBookletter1911;
    src: url("GoudyBookletter1911.otf") format("opentype");
}

@font-face {
    font-family: Amperzand;
    src: url("Amperzand.ttf") format("opentype");
}


html {
    margin: 0px;
    padding: 0px;
    font-family: GaudyBookletter1911;
}


/*position relative as a base for non-static elements*/
#body {
    /* display: flex; */
    justify-content: right;

    margin: 0px;
    padding: 0px;
    position: relative;
    /* align-items: center; */
    width: 100%;

    /* cursor: none; */
    /* cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIgh-laWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxM-CIgZmlsbD0ibm9uZXI+PC9zdmc='), auto; */
    /* pointer-events: none; */

    background-color: #04302E;
}

/*every direct child positioned absolute*/
#body > div {
    position: absolute;
    width: 100%
}

#navBarItem { /* header item + flex item */
    color: white;
    flex: 1;
    /* margin: 5px; */
    padding: 10px;
    text-align: center;
    transition: 1s ease;

    /* transition-duration: 2s; */
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.543);
    box-sizing: border-box;

    text-align: center;
    font-size: 200%
    /* width: auto;
    height: auto; */
}

#navBarItem:hover {
    color: rgb(1,50,32);
    transition-duration: 0.7s;
    background-color: rgba(169, 169, 169, 0.314);
    /* flex: 1.5; */
}

#navBar { /* header + flex container*/

    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center; 
    /* background-color: red; */
}

/* @media (max-width:600px) {
    #navBarItem {
        flex-wrap: wrap;
        flex: 1 1 100%;
        padding: 20px;
    }

} */

#page-container {
    /* background-color: red; */
    z-index: 1;
    /* color: white; */
    margin-top: 75px;
    width: 80%;
    text-align: center;
    /* background-color:aqua */
}

#page-section {
    /* top: 50px; */
    padding: 5px;
    margin: 10px;
    transition-duration: 0.3s;
    align-items: left;

    /* transition-delay: -0.1s; */
    /* background-color: rgba(13, 6, 6, 0.391); */
}

#page-section:hover {
    /* background-color: rgba(169, 169, 169, 0.339); */
}

.pdf {
    width: 100%;
}



.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 1;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.marquee {
    color: black;
    font-weight: bold;
    white-space: nowrap;
    clear: both;
    float: left;
}

.marquee > p {
    text-align: left;
    margin-top: 10px;

}