html {
--col1: #04302F;
--col2: #A61717;
--col3: #DDB1B1;
--col4: #A4E1E0;
--col5: #F7FFFF;
}

@font-face {
    font-family: GaudyBookletter1911;
    src: url("GoudyBookletter1911.otf") format("opentype");
}

@font-face {
    font-family: Amperzand;
    src: url("Amperzand.ttf") format("opentype");
}


html {
    margin: 0px;
    padding: 0px;
    font-family: GaudyBookletter1911;
    overflow-x: hidden;
}

.page-body {
    /* display: flex; */
    justify-content: right;

    margin: 0px;
    padding: 0px;
    position: relative;
    /* align-items: center; */
    width: 100%;

    /* cursor: none; */
    /* cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIgh-laWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxM-CIgZmlsbD0ibm9uZXI+PC9zdmc='), auto; */
    /* pointer-events: none; */

    background-color: var(--col1);
}


/*every direct child positioned absolute*/
.page-body > div {
    position: absolute;
    width: 100%
}

.navBarItem {
    color: var(--col3);
    flex: 1;
    transition: 0.6s ease;
    display: inline-block;
    width: calc(80vw/3);

    transition-duration: 0.5s;
    text-decoration: none;
    border-radius: 3px;
    /* box-sizing: border-box; */

    font-size: 40px;
}


.navBarItem:hover {
    transition-duration: 0.7s;
    /* color: var(--col2); */
    filter: invert(70%);
}

.navBarHome {
    transition-duration: 0.7s;
}

.navBarHome:hover {
    filter: invert(70%);
}

.navBar {
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-flow: column;

    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* max-width: 100%; */
    /* height: 10%; */
    white-space: nowrap;
}

.page-container {
    z-index: 1;
    margin-top: 150px;
    width: 80%;
    text-align: center;
}

.page-section {
    padding: 5px;
    margin: 10px;
    transition-duration: 0.3s;
    /* margin-top: 20px; */
    background-color: var(--col3);
}

.page-title {
    /* margin-top: 20px;  */

    /* margin: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: var(--col2);
    color: var(--col5);
    font-style: italic;
    font-size: 40px;

    /* font-family: Amperzand; */
}

.page-box-box {
    margin-top: 20px;
}

.page-box {
    background-color: var(--col3);
    margin: 10px;
    padding: 10px;
    height: 250px;
    display: grid;
    align-items: center;

}

.page-box > a {
    text-decoration: none;
    color: var(--col1);
    font-size: 25px;
}



.pdf {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 1;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.marquee {
    color: black;
    font-weight: bold;
    white-space: nowrap;
    clear: both;
    float: left;
}

.marquee > p {
    text-align: left;
    margin-top: 10px;

}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    max-width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8)
}

.slidesText {
    color: var(--col5);
    /* background-color: #bbb; */
    font-size: 25px;
    /* padding: 8px 12px; */
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.textTitle {
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

}

.textBody {
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .CW-flex {
        flex-direction: column;
        padding: 20px;
    }

    .CCW-flex {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .page-box-box {
        flex-direction: column;
    }
}